@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="utf-8">
    <title>TMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The styles -->
    <link id="bs-css" href="/Content/charisma-master/css/bootstrap-cerulean.min.css" rel="stylesheet">
    <link href="/Content/charisma-master/css/charisma-app.css" rel="stylesheet">
    <link href='/Content/charisma-master/bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='/Content/charisma-master/bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='/Content/charisma-master/bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='/Content/charisma-master/bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='/Content/charisma-master/bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='/Content/charisma-master/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='/Content/charisma-master/css/jquery.noty.css' rel='stylesheet'>
    <link href='/Content/charisma-master/css/noty_theme_default.css' rel='stylesheet'>
    <link href='/Content/charisma-master/css/elfinder.min.css' rel='stylesheet'>
    <link href='/Content/charisma-master/css/elfinder.theme.css' rel='stylesheet'>
    <link href='/Content/charisma-master/css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='/Content/charisma-master/css/uploadify.css' rel='stylesheet'>
    <link href='/Content/charisma-master/css/animate.min.css' rel='stylesheet'>
    <!-- jQuery -->
    <script src="bower_components/jquery/jquery.min.js"></script>
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- The fav icon -->
    <link rel="shortcut icon" href="img/favicon.ico">
</head>
<body>
    <div class="ch-container">
        <div class="row">

            <div class="row">
                <div class="col-md-12 center login-header">
                    <h2>Welcome to TMS</h2>
                </div>
                <!--/span-->
            </div><!--/row-->
            <div class="row">
                <div class="well col-md-5 center login-box">
                    <div class="alert alert-info">
                        Please login with your Username and Password. demo username=admin@TemplateStack.com , password= admin
                    </div>
                    @using (Html.BeginForm("Login"))
                    {
                    <fieldset>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
                            <input type="text" class="form-control" placeholder="Username" name="uname">
                        </div>
                        <div class="clearfix"></div><br>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
                            <input type="password" class="form-control" placeholder="Password" name="password">
                        </div>
                        <div class="clearfix"></div>
                        <div class="input-prepend">
                            <label class="remember" for="remember"><input type="checkbox" id="remember"> Remember me</label>
                        </div>
                        <div class="clearfix"></div>
                        <p class="center col-md-5">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </p>
                    </fieldset>
                    }


                </div>
                <!--/span-->
            </div><!--/row-->
        </div><!--/fluid-row-->
    </div><!--/.fluid-container-->
    <!-- external javascript -->
    <script src="/Content/charisma-master/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- library for cookie management -->
    <script src="/Content/charisma-master/js/jquery.cookie.js"></script>
    <!-- calender plugin -->
    <script src='/Content/charisma-master/bower_components/moment/min/moment.min.js'></script>
    <script src='/Content/charisma-master/bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
    <!-- data table plugin -->
    <script src='/Content/charisma-master/js/jquery.dataTables.min.js'></script>
    <!-- select or dropdown enhancer -->
    <script src="/Content/charisma-master/bower_components/chosen/chosen.jquery.min.js"></script>
    <!-- plugin for gallery image view -->
    <script src="/Content/charisma-master/bower_components/colorbox/jquery.colorbox-min.js"></script>
    <!-- notification plugin -->
    <script src="/Content/charisma-master/js/jquery.noty.js"></script>
    <!-- library for making tables responsive -->
    <script src="/Content/charisma-master/bower_components/responsive-tables/responsive-tables.js"></script>
    <!-- tour plugin -->
    <script src="/Content/charisma-master/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
    <!-- star rating plugin -->
    <script src="/Content/charisma-master/js/jquery.raty.min.js"></script>
    <!-- for iOS style toggle switch -->
    <script src="/Content/charisma-master/js/jquery.iphone.toggle.js"></script>
    <!-- autogrowing textarea plugin -->
    <script src="/Content/charisma-master/js/jquery.autogrow-textarea.js"></script>
    <!-- multiple file upload plugin -->
    <script src="/Content/charisma-master/js/jquery.uploadify-3.1.min.js"></script>
    <!-- history./Content/charisma-master/js for cross-browser state change on ajax -->
    <script src="/Content/charisma-master/js/jquery.history.js"></script>

<style>
    .navbar{display:none;}
</style>
</body>
</html>

